@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,300&display=swap');

:root{
    --clr-primary: white;
    --clr-primary-2: hsl(240, 100%, 10%);
    --clr-secondary: #29b9f9;
    --text-primary: black;
    --box-shadow: 0px 0px 50px 0px rgb(0 0 0/10%);
    --background-dark: linear-gradient(117deg, rgba(88,8,142,1) 0%, rgba(0,0,50,1) 91%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'rubik';
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
/* -------------------- */
/* global classes       */
/* ---------------------*/

.container{
    width: 95%;
    margin: 0 auto;
}

.container-center{
    padding-top: 5em;
    padding-bottom: 5em;

}

/* -------------------- */
/* HEADER       */
/* ---------------------*/
.header{
    background-color: var(--clr-primary-2);
}

/* -------------SCROLL---------- */
.scroll{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll p{
    text-transform: uppercase;
    font-size: .8rem;
}

.scroll span{
    width: 3px;
    height: 75px;
    background-color: var(--clr-primary);
}

.scroll span::before{
    content: '';
    position: absolute;
    background-color: var(--clr-secondary);
    width: 3px;
    height: 75px;
    animation: scroll 3s infinite;
    transform-origin: top;
}

@keyframes scroll{
    from{transform: scale(0);}
    to{transform: scale(100%);}
}

/* -------------------- */
/* ABOUT      */
/* ---------------------*/

/* -------------------- */
/* CFA       */
/* ---------------------*/
.cfa{
    background-color: var(--clr-primary-2);
}
/* -------------------- */
/* FOOTER      */
/* ---------------------*/
.footer{
    background-color: var(--clr-primary-2);
}